body {
    background-image: url(https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg);
    height: auto;
    width: auto;
}

.text {
    text-align: center;
}

.movies {
    display: flex;
    width: auto;
    flex-direction: row;
    margin: 100px;
    padding: 30px;
    color: white;
}

.button {
    transition-duration: 0.3s;
}

.button:hover {
    background: #000;
    cursor: pointer;
}

.get-started {
    transition-duration: 0.3s;
    background-color: rgb(227, 2, 2);
    color: white;
    height: 50px;
    width: 200px;
    font-weight: 700;
    font-size: large;
    border-radius: 10px;
    border: none;
}

.get-started:hover {
    background-color: #b30000;
    cursor: pointer;
}

.pos {
    position: relative;
    top: 30px;
    left: 158px;

}

@media (max-width:600px) {}